<!-- 
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="web/app.js" verb="*" modules="iisnode"/>
		</handlers>
		<rewrite>
			<rules>
				<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
					<match url="^web/app.js\/debug[\/]?" />
				</rule>
				<rule name="StaticContent">
					<action type="Rewrite" url="public{REQUEST_URI}"/>
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
					</conditions>
					<action type="Rewrite" url="web/app.js"/>
				</rule>
			</rules>
		</rewrite>
		<iisnode watchedFiles="*.js;node_modules\*;routes\*.js;views\*.jade"/>
	</system.webServer>
</configuration>
