doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/polymer-ui-elements/basic.css')

    //script(type='text/javascript', src="/bower_components/jquery/jquery.min.js")
    script(type='text/javascript', src='/bower_components/polymer/polymer.min.js')
    //script(type='text/javascript', src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

    link(rel="import", href="/polymer-ui-elements/polymer-ui-toolbar/polymer-ui-toolbar.html")
    link(rel="import", href="/polymer-ui-elements/polymer-ui-icon-button/polymer-ui-icon-button.html")
    link(rel="import", href="/polymer-ui-elements/polymer-ui-sidebar-menu/polymer-ui-sidebar-menu.html")
    link(rel="import", href="/polymer-ui-elements/polymer-ui-menu-item/polymer-ui-menu-item.html")
    link(rel="import", href="/polymer-ui-elements/polymer-ui-submenu-item/polymer-ui-submenu-item.html")

    block head

  body.polymer-ui-body-text(theme="polymer-ui-light-theme")

    .body-container
      polymer-flex-layout
      polymer-ui-sidebar-menu(label="DCC2013.2 Polymer Demo")
        polymer-ui-menu-item
            a(href="/trackers") Trackers

      .main-content(flex)
        block content

