extends layout

block head
	script(type="text/javascript", src="/bower_components/momentjs/moment.js")
	script(type="text/javascript", src="/bower_components/highcharts/highcharts.js")
	
	link(rel="import", href="/elements/framework-clock.html")
	link(rel="import", href="/elements/framework-participant.html")
	link(rel="import", href="/elements/framework-highchart.html")
	link(rel="import", href="/elements/framework-resource.html")
	link(rel="import", href="/elements/framework-datetime.html")

block content
	h1 Meeting #{id}

	polymer-element(name="meeting-log-resource", extends="framework-resource")
		script.
			Polymer("meeting-log-resource",{
				url: '/api/meetingslog',
				data: [],
				parse: function(d){
					return _.defaults({
						startTime: new Date(d.startTime),
						endTime: new Date(d.endTime)
					}, d);
				}
			})

	polymer-element(name="meeting-log-list")
		template
			table.table.table-stripted
				thead
					th Start
					th End
					th Duration
				tbody
					template(repeat="{{log in logs}}")
						tr
							td 
								framework-datetime(datetime="{{log.startTime}}")
							td 
								framework-datetime(datetime="{{log.endTime}}")
							td 
								framework-datetime-duration(begin="{{log.startTime}}", end="{{log.endTime}}")
		script.
			Polymer("meeting-log-list", {
				logs: [],
				created: function(){


				}
			});

	// using lightdom here so this element is inserted into
	// the actual dom instead of a shadow root.
	polymer-element(name="meeting-detail-app")
		template
			.row
				.col-md-4.col-md-offset-1
					framework-clock(id="start")
				.col-md-4.col-md-offset-2
					framework-clock(id="stop")

			.row
				.col-md-4.col-md-offset-1
					button(id="startClock", on-click="toggleStartClock") Toggle Start Clock
				.col-md-4.col-md-offset-2
					button(id="stopClock", on-click="toggleStopClock") Toggle Stop Clock

			//- .row
			//- 	framework-participant(id="test", edit="edit")
			//- 	framework-participant(id="test2")

			.row
				.col-md-10.col-md-offset-1
					framework-highchart(id="chart")
			.row
				.col-md-10.col-md-offset-1
					meeting-log-list(id="list")
			meeting-log-resource(id="resource", on-query-complete="yy")
		script.
			Polymer("meeting-detail-app", {
				publish: {
					meetingId: ''
				},

				created:function(){
					var self = this;
					self.$.start.run();
					self.$.stop.run();
				},

				meetingIdChanged: function(){
					var self = this;
					self.initialize();
				},

				initialize: function(){
					var self = this;
					self.$.resource.query({meeting_id: self.meetingId});					
				},

				yy: function(e, sender, detail){
					var self = this;
					//self.$.list.logs = sender.data;
				},

				toggleStartClock: function(){
					var self = this;
					self.$.start.toggle();
				},

				toggleStopClock: function(){
					var self = this;
					self.$.stop.toggle();
				}
			})

	meeting-detail-app(meetingid="#{id}")
