extends layout

block head

	link(rel="import", href="/elements/framework-clock.html")

block content
	h1 Meeting #{id}

	.row
		.col-md-4.col-md-offset-1
			framework-clock(id="start")
		.col-md-4.col-md-offset-2
			framework-clock(id="stop", run="true")